:root {
  --color-scheme-text: white;
  --color-scheme-background: #131313;
  --color-scheme-primary: black;
  --color-scheme-secondary: #0d0d0d;
  --color-scheme-tertiary: #363535;
  --color-scheme-primary-accent: #b12a2e;
  --color-scheme-secondary-accent: #2f78d8;
}

h1 {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

a,
p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1 {
  text-transform: capitalize;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -1%;
}

p {
  font-size: 1rem;
  line-height: 1.35;
}

h1 + p {
  margin-top: 1rem;
}

.text-underline {
  text-decoration: underline;
  text-decoration-color: var(--color-scheme-primary-accent);
  text-decoration-thickness: 5%;
  text-underline-offset: 7%;
}
