@font-face {
  font-family: "Shippori Mincho";
  font-style: normal;
  font-weight: normal;
  src: url("/Personal-Website/fonts/Shippori_Mincho/ShipporiMincho-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-stretch: 75% 100%;
  font-weight: 100 900;
  src: url("/Personal-Website/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
}

:root {
  --site-guard-rail: 16px;
  --primary-font: "Shippori Mincho";
  --secondary-font: "Roboto";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

h1 {
  line-height: 1.15;
  font-size: 2.986rem;
}

h2 {
  line-height: 1.2;
  font-size: 2.488rem;
}

h3 {
  line-height: 1.2;
  font-size: 2.074rem;
}

p,
li,
a {
  line-height: 1.6;
  font-size: 1rem;
}

p,
li {
  font-weight: 350;
}

a {
  font-weight: 700;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  font-weight: 400;
}

p,
li,
a {
  font-family: var(--secondary-font);
  font-stretch: 100%;
}

header {
  position: sticky;
  top: 1rem;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

header > * {
  line-height: 0;
}

header nav {
  flex-basis: 100%;
  display: none;
}

#nav-items {
  padding: 0;
  margin: 1rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-item {
  list-style: none;
}

.nav-link {
  display: inline-block;
  box-sizing: border-box;
  color: white;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: background-color 0.1s linear;
}

.nav-link:hover {
  background-color: #1a1a1a;
}

#menu {
  margin-left: auto;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

:has(#menu[aria-expanded="true"]) header nav {
  display: unset;
}

#guardrail-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: var(--site-guard-rail);
}

@media screen and (min-width: 636px) {
  header nav {
    flex-basis: auto;
    margin-left: auto;
    display: block;
  }

  #nav-items {
    flex-direction: row;
    gap: 1rem;
    margin: 0;
  }

  #menu {
    display: none;
  }
}

@media screen and (min-width: 744px) {
  :root {
    --site-guard-rail: 32px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --site-guard-rail: 160px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #131313;
    color: white;
  }

  header {
    background-color: #000000;
  }
}
