--- 
import "../../styles/content/webpage-footer.css";
---

<footer id="webpage-footer">
    <p id="signature-message">
        <span id="signature">adlai m.b.</span>
        <span>aspiring full-stack software engineer</span>
    </p>
    <p id="copyright-message">© All rights reserved.</p>
</footer>