---
import "../../styles/content/webpage-header.css"
---

<header id="webpage-header">
    <a id="webpage-header-logo-container">
        <svg id="webpage-header-logo" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2" y="2" width="36" height="36" rx="18" stroke-width="4"/>
            <path d="M22.8516 25.0625V17C22.8516 16.3958 22.7422 15.875 22.5234 15.4375C22.3047 15 21.9714 14.6615 21.5234 14.4219C21.0859 14.1823 20.5339 14.0625 19.8672 14.0625C19.2526 14.0625 18.7214 14.1667 18.2734 14.375C17.8255 14.5833 17.4766 14.8646 17.2266 15.2188C16.9766 15.5729 16.8516 15.974 16.8516 16.4219H13.1016C13.1016 15.7552 13.263 15.1094 13.5859 14.4844C13.9089 13.8594 14.3776 13.3021 14.9922 12.8125C15.6068 12.3229 16.3411 11.9375 17.1953 11.6562C18.0495 11.375 19.0078 11.2344 20.0703 11.2344C21.3411 11.2344 22.4661 11.4479 23.4453 11.875C24.4349 12.3021 25.2109 12.9479 25.7734 13.8125C26.3464 14.6667 26.6328 15.7396 26.6328 17.0312V24.5469C26.6328 25.3177 26.6849 26.0104 26.7891 26.625C26.9036 27.2292 27.0651 27.7552 27.2734 28.2031V28.4531H23.4141C23.237 28.0469 23.0964 27.5312 22.9922 26.9062C22.8984 26.2708 22.8516 25.6562 22.8516 25.0625ZM23.3984 18.1719L23.4297 20.5H20.7266C20.0286 20.5 19.4141 20.5677 18.8828 20.7031C18.3516 20.8281 17.9089 21.0156 17.5547 21.2656C17.2005 21.5156 16.9349 21.8177 16.7578 22.1719C16.5807 22.526 16.4922 22.9271 16.4922 23.375C16.4922 23.8229 16.5964 24.2344 16.8047 24.6094C17.013 24.974 17.3151 25.2604 17.7109 25.4688C18.1172 25.6771 18.6068 25.7812 19.1797 25.7812C19.9505 25.7812 20.6224 25.625 21.1953 25.3125C21.7786 24.9896 22.237 24.599 22.5703 24.1406C22.9036 23.6719 23.0807 23.2292 23.1016 22.8125L24.3203 24.4844C24.1953 24.9115 23.9818 25.3698 23.6797 25.8594C23.3776 26.349 22.9818 26.8177 22.4922 27.2656C22.013 27.7031 21.4349 28.0625 20.7578 28.3438C20.0911 28.625 19.3203 28.7656 18.4453 28.7656C17.3411 28.7656 16.3568 28.5469 15.4922 28.1094C14.6276 27.6615 13.9505 27.0625 13.4609 26.3125C12.9714 25.5521 12.7266 24.6927 12.7266 23.7344C12.7266 22.8385 12.8932 22.0469 13.2266 21.3594C13.5703 20.6615 14.0703 20.0781 14.7266 19.6094C15.3932 19.1406 16.2057 18.7865 17.1641 18.5469C18.1224 18.2969 19.2161 18.1719 20.4453 18.1719H23.3984Z" fill="black"/>
        </svg>
    </a>
    <button aria-expanded="false" id="webpage-header-navigation-drop-down-button">
        <svg id="webpage-header-navigation-drop-down-button-open" width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="1" y1="1" x2="23" y2="1" stroke-width="2" stroke-linecap="round"/>
            <line x1="1" y1="9" x2="23" y2="9" stroke-width="2" stroke-linecap="round"/>
            <line x1="1" y1="17" x2="23" y2="17" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <svg id="webpage-header-navigation-drop-down-button-close" width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="1" y1="17.5858" x2="17.5858" y2="1" stroke-width="2" stroke-linecap="round"/>
            <line x1="1" y1="-1" x2="24.4558" y2="-1" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 19 19)" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </button>
    <nav id="webpage-header-navigation">
        <ol id="webpage-header-navigation-links">
            <li>
                <a class="webpage-header-navigation-link">introduction</a>
            </li>
            <li>
                <a class="webpage-header-navigation-link">about</a>
            </li>
            <li>
                <a class="webpage-header-navigation-link">skills</a>
            </li>
            <li>
                <a class="webpage-header-navigation-link">projects</a>
            </li>
        </ol>
    </nav>
</header>

<script>
    import "../../scripts/nav-drop-down-button.js"
</script>