---
import RemodelingNotice from "../components/RemodelingNotice.astro"
import '../styles/global.css'
const remodeling = true;
---

<!-- TODO: why is it type="svg+xml"? -->

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		{remodeling ? <RemodelingNotice/> : <h1>Webiste will be here</h1>}
	</body>
</html>

<style>
  * {
    margin: 0;
  }
</style>
