---
import RemodelingNotice from "../components/RemodelingNotice.astro";
import PortfolioLayout from "../layouts/PortfolioLayout.astro";
import Introduction from "../components/Introduction.astro";
import About from "../components/About.astro";
import '../styles/global.css'
const remodeling = false;
---

<!-- TODO: why is it type="svg+xml"? -->

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/Personal-Website/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>adlaimb's portfolio</title>
	</head>
	<body>
		{remodeling ? <RemodelingNotice/> : <PortfolioLayout><Introduction/><About/></PortfolioLayout>}
		{!remodeling && <script> 
			import "../scripts/menu.js"
		</script>}
	</body>
</html>

<style>
	body {
		margin: 0;
	}
</style>
