---
import "../styles/reset.css";
import "../styles/global.css"
import WebPageRootLayout from "../components/layouts/WebPageRootLayout.astro";
import Header from "../components/content/Header.astro";
import Introduction from "../components/content/Introduction.astro";
import AboutAndSkills from "../components/content/AboutAndSkills.astro";

const baseVisualMediaAssetsPath = "/Personal-Website/";
const logoPath = baseVisualMediaAssetsPath + "logo.svg";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href={logoPath}>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shippori+Mincho&display=swap" rel="stylesheet">
		<title>adlai's portfolio</title>
	</head>
	<body>
		<WebPageRootLayout>
			<Header />
			<Introduction />
			<AboutAndSkills />
		</WebPageRootLayout>
	</body>
</html>