<div>
    <section>
        <h2>About Me</h2>
        <p>
            I'm currently refining my skills in full-stack development and exploring new technologies. I'm intrested in various areas of computer science,
            including discrete mathematics, operating systems, and finite automata; specifically how these concepts apply to real-world software developmenmt problems.
            Outside of computer science and software development I enjoy reading books, watching movies/shows, working out, and listening to music.
        </p>
    </section>
</div>

<style>
    div {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section {
        width: 50%;
    }
</style>