---
import CourseworkItem from './CourseworkItem.astro';
---

<div id="coursework">
    <section>
        <h2>Coursework</h2>
        <ul id="coursework-items">
            <CourseworkItem coursework="CS100 - Software Construction" />
            <CourseworkItem coursework="CS166 - Database Managment Systems" />
            <CourseworkItem coursework="CS164 - Computer Networking" />
            <CourseworkItem coursework="CS153 - Design of Operating Systems" />
            <CourseworkItem coursework="CS150 - Automata and Formal Languages" />
            <CourseworkItem coursework="CS152 - Compiler Design" />
            <CourseworkItem coursework="CS161 - Design and Architecture of Computer Systems" />
            <CourseworkItem coursework="CS141 - Intermediate Data Structures and Algorithms" />
            <CourseworkItem coursework="CS120B - Introudction to Embedded Systems" />
        </ul>
    </section>
</div>
