<footer>
    <div>
        <h4>Adlai M.B.</h4>
        <p>aspiring full stack software engineer.</p>
    </div>
    <div id="footer-bottom">
        <p class="font-small">© All rights reserved.</p>  
    </div>
</footer>