---
import Navigation from "./Navigation.astro"
const imageFilePath = '/Personal-Website/logo.svg';
const imageAltText = 'personal logo';
const imageSize = 70;
---

<header>
    <img src={imageFilePath} width={imageSize} height={imageSize} alt={imageAltText} />
    <button aria-expanded="false" id="menu">menu</button>
    <Navigation />
</header>

<style>
    header {
        width: 100%;
        position: fixed;
        z-index: 1;
    }
</style>