---
import Navigation from "./Navigation.astro"
const imageFilePath = '/Personal-Website/logo.svg';
const imageAltText = 'personal logo';
const imageSize = 50;
---

<header>
    <a href="#introduction"><img src={imageFilePath} width={imageSize} height={imageSize} alt={imageAltText} /></a>
    <button aria-expanded="false" id="menu">menu</button>
    <Navigation />
</header>