---
const imageFilePath = '/Personal-Website/images/introduction.svg';
const imageAltText = 'introduction';
---

<div id="introduction">
    <section>
        <h1>Hello, I'm Adlai Morales-Bravo</h1>
        <p>
            I'm a Computer Science graduate from the University of California, Riverisde.
            I'm actively looking for junior level full-stack software engineering roles.
        </p>
    </section>
    <img src={imageFilePath} alt={imageAltText}/>
</div>