<div>
    <section>
        <h2>Coursework</h2>
        <ul>
            <li>(CS100) Software Construction</li>
            <li>(CS166) Database Managment Systems</li>
            <li>(CS164) Computer Networking</li>
            <li>(CS153) Design of Operating Systems</li>
            <li>(CS150) Automata and Formal Languages</li>
            <li>(CS152) Compiler Design</li>
            <li>(CS161) Design and Architecture of Computer Systems</li>
            <li>(CS141) Intermediate Data Structures and Algorithms</li>
            <li>(CS120B) Introudction to Embedded Systems</li>
        </ul>
    </section>
</div>

<style>
    div {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2 {
        line-height: 1.2;
        font-size: 2.488rem;
    }

    li {
        line-height: 1.6;
        font-size: 1rem;
    }
</style>
