<nav>
    <ul id="nav-items">
        <li class="nav-item"><a class="nav-link" href="#">place link</a></li>
        <li class="nav-item"><a class="nav-link" href="#">place link</a></li>
        <li class="nav-item"><a class="nav-link" href="#">place link</a></li>
        <li class="nav-item"><a class="nav-link" href="#">place link</a></li>
    </ul>
</nav>