<nav>
    <ul>
        <li><a href="#">place link</a></li>
        <li><a href="#">place link</a></li>
        <li><a href="#">place link</a></li>
        <li><a href="#">place link</a></li>
    </ul>
</nav>


<style>
    nav ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        list-style: none;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
    }
</style>