<nav>
    <ul>
        <li><a href="#">place link</a></li>
        <li><a href="#">place link</a></li>
        <li><a href="#">place link</a></li>
        <li><a href="#">place link</a></li>
    </ul>
</div>