<div id="projects">
    <section>
        <h2>Projects</h2>
        <div id="project-items">
            <article class="project-item">
                <h3>OCGO</h3>
                <nav>
                    <ul class="project-item-list">
                        <li class="project-item-list-item"><a class="project-item-link" href="#">github repo</a></li>
                    </ul>
                </nav>
                <p>A web app to publish locations inside Orange County to help residents find new places. Built with Next.js, PostgreSQL, and Vercel.</p>
                <ul class="project-item-list">
                    <li class="project-item-list-item">tools:</li>
                    <li class="project-item-list-item">javascript</li>
                    <li class="project-item-list-item">react</li>
                    <li class="project-item-list-item">next.js</li>
                    <li class="project-item-list-item">postgresql</li>
                    <li class="project-item-list-item">vercel</li>
                </ul>
            </article>
            <article class="project-item">
                <h3>OCGO</h3>
                <nav>
                    <ul class="project-item-list">
                        <li class="project-item-list-item"><a class="project-item-link" href="#">github repo</a></li>
                    </ul>
                </nav>
                <p>A web app to publish locations inside Orange County to help residents find new places. Built with Next.js, PostgreSQL, and Vercel.</p>
                <ul class="project-item-list">
                    <li class="project-item-list-item">tools:</li>
                    <li class="project-item-list-item">javascript</li>
                    <li class="project-item-list-item">react</li>
                    <li class="project-item-list-item">next.js</li>
                    <li class="project-item-list-item">postgresql</li>
                    <li class="project-item-list-item">vercel</li>
                </ul>
            </article>
            <article class="project-item">
                <h3>OCGO</h3>
                <nav>
                    <ul class="project-item-list">
                        <li class="project-item-list-item"><a class="project-item-link" href="#">github repo</a></li>
                    </ul>
                </nav>
                <p>A web app to publish locations inside Orange County to help residents find new places. Built with Next.js, PostgreSQL, and Vercel.</p>
                <ul class="project-item-list">
                    <li class="project-item-list-item">tools:</li>
                    <li class="project-item-list-item">javascript</li>
                    <li class="project-item-list-item">react</li>
                    <li class="project-item-list-item">next.js</li>
                    <li class="project-item-list-item">postgresql</li>
                    <li class="project-item-list-item">vercel</li>
                </ul>
            </article>
            <article class="project-item">
                <h3>OCGO</h3>
                <nav>
                    <ul class="project-item-list">
                        <li class="project-item-list-item"><a class="project-item-link" href="#">github repo</a></li>
                    </ul>
                </nav>
                <p>A web app to publish locations inside Orange County to help residents find new places. Built with Next.js, PostgreSQL, and Vercel.</p>
                <ul class="project-item-list">
                    <li class="project-item-list-item">tools:</li>
                    <li class="project-item-list-item">javascript</li>
                    <li class="project-item-list-item">react</li>
                    <li class="project-item-list-item">next.js</li>
                    <li class="project-item-list-item">postgresql</li>
                    <li class="project-item-list-item">vercel</li>
                </ul>
            </article>
        </div>
    </section>
</div>