<div>
    <section>
        <h2>Projects</h2>
        <article>
            <h3>Project title</h3>
            <ul>
                <li>tool</li>
            </ul>
            <nav>
                <ul>
                    <li><a href="#">place link</a></li>
                    <li><a href="#">place link</a></li>
                </ul>
            </nav>
            <p>Project description</p>
        </article>
        <article>
            <h3>Project title</h3>
            <ul>
                <li>tool</li>
            </ul>
            <nav>
                <ul>
                    <li><a href="#">place link</a></li>
                    <li><a href="#">place link</a></li>
                </ul>
            </nav>
            <p>Project description</p>
        </article>
        <article>
            <h3>Project title</h3>
            <ul>
                <li>tool</li>
            </ul>
            <nav>
                <ul>
                    <li><a href="#">place link</a></li>
                    <li><a href="#">place link</a></li>
                </ul>
            </nav>
            <p>Project description</p>
        </article>
        <article>
            <h3>Project title</h3>
            <ul>
                <li>tool</li>
            </ul>
            <nav>
                <ul>
                    <li><a href="#">place link</a></li>
                    <li><a href="#">place link</a></li>
                </ul>
            </nav>
            <p>Project description</p>
        </article>
    </section>
</div>

<style>
    div {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    article {
        display: inline-block;
    }

    h2 {
        line-height: 1.2;
        font-size: 2.488rem;
    }

    h3 {
        line-height: 1.2;
        font-size: 2.074rem;
    }

    li {
        line-height: 1.6;
        font-size: 1rem;
    }
</style>