---
import ProjectItem from "./ProjectItem.astro";
---

<div id="projects">
    <section>
        <h2>Projects</h2>
        <div id="project-items">
            <ProjectItem name="OCGO" description="A web app to publish locations inside Orange County to help residents find new places. Built with Next.js, PostgreSQL, and Vercel." links={[{url: "https://github.com/AdlaiMB/OCGO", name: "github repo"}]} tools={["javascript", "react", "next.js", "postgresql", "vercel"]} />
            <ProjectItem name="CS164 UDP Server" description="A UDP server that implements TCP like behavior. Built in my Computer Networking class (CS164) at UCR." links={[{url: "https://github.com/AdlaiMB/CS164-UDP-Server", name: "github repo"}]} tools={["c"]} />
        </div>
    </section>
</div>