---
const imageFilePath = '/logo.svg';
const imageAltText = 'personal logo';
const imageSize = 70;
---

<div>
    <img src={imageFilePath} width={imageSize} height={imageSize} alt={imageAltText} />
    <p>Website under remodeling, come back later.</p>
</div>

<style>
  div {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p {
    font-size: 1.5rem;
  }
</style>