---
import SkillItem from "./SkillItem.astro"
---

<div id="skills">
    <section>
        <h2>Skills</h2>
        <ul id="skill-items">
            <SkillItem skill="Git" />
            <SkillItem skill="Github" />
            <SkillItem skill="Javascript" />
            <SkillItem skill="Python" />
            <SkillItem skill="React" />
            <SkillItem skill="HTML" />
            <SkillItem skill="CSS" />
            <SkillItem skill="PostgreSQL" />
        </ul>
    </section>
</div>
