---
const sunIconFilePath = '/Personal-Website/icons/sun.svg';
const moonIconFilePath = '/Personal-Website/icons/moon.svg';
---

<button id="theme-button">
    <img id="sun-icon" src={sunIconFilePath} alt="sun icon"/>
    <img id="moon-icon" src={moonIconFilePath} alt="moon icon"/>
</button>