/* apply the color properties separately from layout properties */

/* color properties */
.projects-section {
  border-bottom: 1px solid var(--color-scheme-tertiary);
}

#projects-title {
  color: var(--color-scheme-text);
}

#carousel::scroll-button(*) {
  border: 1px solid var(--color-scheme-tertiary);
  background-color: var(--color-scheme-background);
  transition: background-color 0.1s linear;
}

#carousel::scroll-button(*):hover,
#carousel::scroll-button(*):focus {
  background-color: var(--color-scheme-tertiary);
}

.carousel-item {
  border-inline: 1px solid var(--color-scheme-tertiary);
}

.project-title {
  color: var(--color-scheme-text);
}

.project-github-link {
  color: var(--color-scheme-text);
  background-color: var(--color-scheme-secondary-accent);
  transition: background-color 0.1s linear;
}

.project-github-link:hover {
  background-color: var(--color-scheme-secondary-accent-hover);
}

.project-body {
  color: var(--color-scheme-text);
}

.project-footer {
  color: var(--color-scheme-text);
}

/* layout properties */
.projects-section {
  padding-block: 2.5rem;
}

#carousel {
  width: 100%;
  height: 200px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  columns: 1;
  anchor-name: --carousel;
  scroll-behavior: smooth;
}

#carousel::column {
  scroll-snap-align: center;
}

#carousel::scroll-button(*) {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  position-anchor: --carousel;
}

#carousel::scroll-button(*):disabled {
  display: none;
}

#carousel::scroll-button(left) {
  left: anchor(left);
  top: anchor(50%);
  transform: translateX(-30%);
  content: url("../../../public/icons/left-arrow.svg") / "Previous";
}

#carousel::scroll-button(right) {
  right: anchor(right);
  top: anchor(50%);
  transform: translateX(30%);
  content: url("../../../public/icons/right-arrow.svg") / "Next";
}

.carousel-item {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
}

.project {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-github-link {
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.project-header + .project-body {
  margin-top: 1rem;
  height: 100%;
}

@media screen and (width >= 834px) {
  .carousel-item {
    width: 50%;
  }

  .carousel-item {
    padding-inline: 0;
    border-inline: 0;
  }

  .carousel-item:nth-child(odd) {
    padding-right: 1rem;
  }

  .carousel-item:nth-child(even) {
    padding-left: 1rem;
    border-left: 1px solid var(--color-scheme-tertiary);
  }
}

@media screen and (width >= 1440px) {
  .carousel-item {
    width: 33.333%;
  }

  .carousel-item {
    padding-inline: 1rem;
    border-left: 1px solid var(--color-scheme-tertiary);
  }

  .carousel-item:nth-child(3n + 1) {
    padding-left: 0;
    border-left: 0;
  }

  .carousel-item:nth-child(3n + 3) {
    padding-right: 0;
  }
}
