---
import Header from "../components/Header.astro"
---

<Header />
<div id="portfolio-layout-content-container">
    <slot />
</div>


<style>
    #portfolio-layout-content-container {
        display: grid;
        grid-template-columns: 1fr;
    }
</style>